In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Narsaq,GL,2021-06-24 02:05:19,60.9167,-46.0500,50.22,98,100,10.92
1,1,Hobart,AU,2021-06-24 02:05:19,-42.8794,147.3294,58.26,75,20,3.00
2,2,Lasa,IT,2021-06-24 02:05:20,46.6166,10.7002,60.03,90,2,3.44
3,3,Vaini,TO,2021-06-24 02:05:20,-21.2000,-175.2000,69.96,88,90,5.75
4,4,Nome,US,2021-06-24 02:05:20,64.5011,-165.4064,66.27,63,40,11.50

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
# Call the figure to plot the data.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Percent Humidity Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Percent Cloudiness Heatmap

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Wind Speed Heatmap

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Get Vacation Criteria

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Noumea,NC,2021-06-24 02:05:22,-22.2763,166.4572,76.98,99,43,16.35
11,11,Kununurra,AU,2021-06-24 02:05:22,-15.7667,128.7333,76.98,50,90,12.66
12,12,Aloleng,PH,2021-06-24 02:05:22,16.1307,119.7824,84.18,73,81,13.15
13,13,Samarai,PG,2021-06-24 02:05:23,-10.6167,150.6667,79.70,73,100,12.30
14,14,Atuona,PF,2021-06-24 02:03:11,-9.8000,-139.0333,79.29,77,22,18.81
15,15,Chokurdakh,RU,2021-06-24 02:05:23,70.6333,147.9167,78.93,22,22,3.51
22,22,Naze,JP,2021-06-24 02:05:25,28.3667,129.4833,75.24,73,80,11.61
34,34,Brokopondo,SR,2021-06-24 02:02:08,4.7500,-55.1667,76.08,87,85,7.61
39,39,Butaritari,KI,2021-06-24 02:05:30,3.0707,172.7902,84.83,70,6,15.41
44,44,Srednekolymsk,RU,2021-06-24 02:05:31,67.4500,153.6833,75.20,27,90,4.85

In [12]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
9          Noumea      NC     76.98 -22.2763  166.4572
11      Kununurra      AU     76.98 -15.7667  128.7333
12        Aloleng      PH     84.18  16.1307  119.7824
13        Samarai      PG     79.70 -10.6167  150.6667
14         Atuona      PF     79.29  -9.8000 -139.0333
15     Chokurdakh      RU     78.93  70.6333  147.9167
22           Naze      JP     75.24  28.3667  129.4833
34     Brokopondo      SR     76.08   4.7500  -55.1667
39     Butaritari      KI     84.83   3.0707  172.7902
44  Srednekolymsk      RU     75.20  67.4500  153.6833

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Noumea,NC,76.98,-22.2763,166.4572,Hôtel Le Lagon
11,Kununurra,AU,76.98,-15.7667,128.7333,Hotel Kununurra
12,Aloleng,PH,84.18,16.1307,119.7824,Steve Walden and Emma Sison-Walden Residence
13,Samarai,PG,79.70,-10.6167,150.6667,Nuli Sapi
14,Atuona,PF,79.29,-9.8000,-139.0333,Villa Enata
15,Chokurdakh,RU,78.93,70.6333,147.9167,
22,Naze,JP,75.24,28.3667,129.4833,奄美ポートタワーホテル
34,Brokopondo,SR,76.08,4.7500,-55.1667,Matu Island
39,Butaritari,KI,84.83,3.0707,172.7902,Isles Sunset Lodge
44,Srednekolymsk,RU,75.20,67.4500,153.6833,

Create Maximum Temperature Heatmap from a Hotel DataFrame

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))