## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerres,CO,1.1937,-77.2666,47.35,87,42,6.53,scattered clouds
1,1,Hobart,AU,-42.8794,147.3294,55.26,81,75,3.00,broken clouds
2,2,Bredasdorp,ZA,-34.5322,20.0403,50.56,89,91,5.77,overcast clouds
3,3,Simoes,BR,-7.5989,-40.8178,70.92,82,13,16.06,few clouds
4,4,Puerto Ayora,EC,-0.7393,-90.3518,72.55,89,56,8.99,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hithadhoo,MV,-0.6000,73.0833,83.43,68,75,12.17,broken clouds
8,8,Kununurra,AU,-15.7667,128.7333,82.38,20,2,14.97,clear sky
15,15,Ambulu,ID,-8.3450,113.6058,80.62,65,21,4.36,few clouds
17,17,Sirpur,IN,19.4833,79.6000,78.39,88,100,8.03,light rain
19,19,Kapaa,US,22.0752,-159.3190,85.98,78,90,3.00,light rain
25,25,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
26,26,Portland,US,45.5234,-122.6762,79.32,61,90,10.36,overcast clouds
28,28,Faanui,PF,-16.4833,-151.7500,79.68,75,3,23.71,clear sky
33,33,Noumea,NC,-22.2763,166.4572,77.00,99,52,17.92,broken clouds
34,34,Yarada,IN,17.6500,83.2667,84.16,75,100,11.70,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hithadhoo,MV,-0.6000,73.0833,83.43,68,75,12.17,broken clouds
8,8,Kununurra,AU,-15.7667,128.7333,82.38,20,2,14.97,clear sky
15,15,Ambulu,ID,-8.3450,113.6058,80.62,65,21,4.36,few clouds
17,17,Sirpur,IN,19.4833,79.6000,78.39,88,100,8.03,light rain
19,19,Kapaa,US,22.0752,-159.3190,85.98,78,90,3.00,light rain
...,...,...,...,...,...,...,...,...,...,...
660,660,Hami,CN,42.8000,93.4500,85.73,16,18,5.86,few clouds
662,662,Nagato,JP,34.3833,131.2000,79.25,90,100,2.44,overcast clouds
666,666,Havelock,US,34.8791,-76.9013,81.01,87,40,8.99,scattered clouds
667,667,Ergani,TR,38.2653,39.7621,77.72,29,6,7.99,clear sky
672,672,High Level,CA,58.5169,-117.1360,82.69,46,1,16.13,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hithadhoo,MV,83.43,broken clouds,-0.6000,73.0833,
8,Kununurra,AU,82.38,clear sky,-15.7667,128.7333,
15,Ambulu,ID,80.62,few clouds,-8.3450,113.6058,
17,Sirpur,IN,78.39,light rain,19.4833,79.6000,
19,Kapaa,US,85.98,light rain,22.0752,-159.3190,
25,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
26,Portland,US,79.32,overcast clouds,45.5234,-122.6762,
28,Faanui,PF,79.68,clear sky,-16.4833,-151.7500,
33,Noumea,NC,77.00,broken clouds,-22.2763,166.4572,
34,Yarada,IN,84.16,overcast clouds,17.6500,83.2667,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # Get the latitude and longitude.
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
   
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hithadhoo,MV,83.43,broken clouds,-0.6000,73.0833,Scoop Guest House
8,Kununurra,AU,82.38,clear sky,-15.7667,128.7333,Hotel Kununurra
15,Ambulu,ID,80.62,few clouds,-8.3450,113.6058,Hotel Ambulu Jember
17,Sirpur,IN,78.39,light rain,19.4833,79.6000,Sathyamma Hotel
19,Kapaa,US,85.98,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
660,Hami,CN,85.73,few clouds,42.8000,93.4500,Laoyutang Resort
662,Nagato,JP,79.25,overcast clouds,34.3833,131.2000,いそう庵
666,Havelock,US,81.01,scattered clouds,34.8791,-76.9013,Sherwood Motel
667,Ergani,TR,77.72,clear sky,38.2653,39.7621,Serkan Hotel
672,High Level,CA,82.69,clear sky,58.5169,-117.1360,Days Inn by Wyndham High Level

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))